<template>
    <div class="row">
    <div class="col-12">
    
  <form>
  <div class="form-group">
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" v-model.trim= "user.name" id="name" placeholder="Enter name">
  </div>
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" v-model.trim="user.email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group form-radio">
    <input type="radio" v-model= "user.gender" value="male" id="exampleCheck1">Male
     <input type="radio" v-model= "user.gender" value="female" id="exampleCheck2">Female
  </div>
  <button type="submit" class="btn btn-primary" @click.prevent="postUser()">Submit</button>

</form>
    </div>
</div>
</template>
<script>
import axios from 'axios'
export default {
    data(){
        return{
           
            user:{
                name:"",
                gender:"",
                email:"",
                status:"Active",

            }
        }
    },
    methods:{
        postUser(){
           axios.post(process.env.VUE_APP_ROOT_URL,JSON.stringify(this.user))
            .then(Response=>console.log(Response))
            .catch(error=>console.log(error));
            
        }
    }

}
</script>