<template>
   
    <div class="row">
        
        <User v-for="(user,index) in usersList.data" :key="user.id">
            <p>
                id:{{user.id}}
                name:{{ user.name }}
                email:{{ user.email }}
                gender:{{ user.gender }}<br/>
           <label class="deleteIcon red" @click= 'changeIndex(user.id,index)' data-toggle="modal" data-target="#exampleModa2"><i class="fas fa-trash-alt"></i></label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="editIcon blue" @click= 'changeIndex(user.id,index)' data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user-edit" ></i></label>
     
        </p>
          
        </User>
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
  <div class="form-group">
  
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" v-model.trim= "user.name" id="name" placeholder="Enter name">
  </div>
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" v-model.trim= "user.email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group form-radio">
    <input type="radio" v-model= "user.gender" value="male" id="exampleCheck1">Male
     <input type="radio" v-model= "user.gender" value="female" id="exampleCheck2">Female
  </div>
  <button type="submit" class="btn btn-primary" @click.prevent="editUser()">Save changes</button>

</form>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ user }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="deleteUser()">Delete User</button>
      </div>
    </div>
  </div>
</div>
    </div>
 
</template>
<script>
import User from '@/components/User.vue'
import axios from 'axios'

export default {
    data(){
        return{
            usersList:[],
            index:'',
            id:'',
            user:{
                name:'',
                gender:'',
                email:'',
                status:'Active'

            }
        }
    },
    components:{
        User
    },
   async created(){
      await axios.get(process.env.VUE_APP_ROOT_URL)
        .then(response=>{
            this.usersList=response.data,
            console.log(response.data)
            })
        .then(error=>console.log(error))
    },
    methods:{
        deleteUser(){
            
            let root=process.env.VUE_APP_ROOT_URL+"\\"+this.id;
            axios.delete(root)
                .then(response=>console.log(response))
                .then(error=>console.log(error));
            this.usersList.data.splice(this.index,1);
        },
        changeIndex(id,index){
            this.index=index;
            console.warn(id);
            this.id=id;
            this.user.name=this.usersList.data[index].name;
            this.user.gender=this.usersList.data[index].gender;
            this.user.email=this.usersList.data[index].email;
            
        },
        editUser(){
            let url=process.env.VUE_APP_ROOT_URL+"\\"+this.id;
            axios.put(url,JSON.stringify(this.user))
                .then(response=>console.log(response))
                .then(error=>console.log(error));
            this.usersList.data[this.index].name=this.user.name;
            this.usersList.data[this.index].gender=this.user.gender;
            this.usersList.data[this.index].email=this.user.email; 
        }
        
    }
}
</script>
<style scoped>
  .editIcon:hover,.deleteIcon:hover{
      cursor: pointer;

  }
  .red{
      color:#f51414;
  }
  .blue{
      color: #0916d4;
  }
</style>