<template>
  <div id="app" class="container">
    <div id="nav">
      <router-link to="/">List of User</router-link> |
      <router-link to="/adduser">Add User</router-link>
    </div>
    <router-view/>

  
  </div>
</template>

<script>


export default {
  
}
</script>

